In [1]:
import pandas as pd

# Scrape Data using Pandas

In [34]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [36]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [37]:
df.shape

(288, 3)

# Clean the data

### Remove rows where Borough is Not assigned

In [38]:
df = df[df.Borough!='Not assigned']
df.shape

(211, 3)

### Comma Separated Neighbourhood for duplicate postcode

In [44]:
def group_apply(x):
    return pd.DataFrame([[x['Borough'].tolist()[0], ','.join(x['Neighbourhood'])]], columns=['Borough', 'Neighbourhood'])

grouped_df = df.groupby('Postcode').apply(group_apply).reset_index(level=0).reset_index(drop=True)

In [45]:
grouped_df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [46]:
grouped_df.shape

(103, 3)

### Assign same neighbourhood as of Borough in case it is Not assigned

In [50]:
final_df = grouped_df.copy()
final_df.loc[final_df.Neighbourhood=='Not assigned', 'Neighbourhood'] = final_df.loc[final_df.Neighbourhood=='Not assigned', 
                                                                               'Borough']

In [51]:
final_df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [52]:
final_df.shape

(103, 3)